{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Simply Just do it!</h1>
            <p>Looking for a powerful to-do app that will help you stay organized and get things done? Look no further than our amazing app! With a sleek and intuitive interface, this app is the perfect tool for anyone who wants to stay on top of their tasks and achieve their goals. Whether you're a busy professional, a student, or just someone who wants to be more productive, <b><i>Just do it</i></b> has everything you need to stay organized and stay on track. <br>So why wait? Use our app today and start achieving your goals like never before!</p>
        <a role="button" class="btn btn-dark btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
